/**{border: 1px solid rgba(0,0,0,0.3)}*/

a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: purple;
}


.content {
    max-width: 70%;
    margin: auto;
    background: white;
    padding: 10px;
  }

  #borderimg {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin: auto;
  }

h1 {
    font-size: 3rem;
    font-family: Lobster, cursive, serif;
    text-align: center;

  }

 #p1 {
  font-family: 'Libre Baskerville', serif;
  height: auto;
  text-align: center;
  font-size: 1.0rem;
  margin:auto;
  padding-bottom: .8em;

  }

  #broll {
   width: auto;
   max-height: 200px;
   object-fit: cover;

  }


  .top {
    display: inline-block;
    text-align: center;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 1em;

  }

  .bottom {
    display: inline-block;
    text-align: center;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 1.5em;
  }

/*table {
  width: auto;
  text-align: center;
}*/
  h3 {
    text-align: center;
    font-family: 'Lobster';
    font-size: 1.5em;
  }

  .footer {
      text-align: center;
      color: black;
      font-family: 'Libre Baskerville', serif;

    }

  body {
      background-color: #82BF66;
    }

    @media screen and (max-width:480px){
    #broll{
    display: none;
