/**{border: 1px solid rgba(0,0,0,0.3)}
/*Top Logo Bar*/
.headbar{
  max-width: 100%;
  height:auto;
  background-color: white;

}
#logopic {
  max-width: 100%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  object-fit: contain;
}




/*Link Styles*/

a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: purple;
}
/*stlyling the link elements*/
.pages{
  text-align: center;
  }

h3{
font-family: Lobster;
text-align: center;
font-size: 1.5em;
margin-left: 1em;
margin-right: 1em;
display: inline-block;
}


/*footer with permanant info*/
.footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  max-height: 100px;
  background-color: white;
  font-family: 'Libre Baskerville', serif;


  }
.desktopimgs{
  display: inline-block;
  text-align: center;
  height:auto;

}

#office {
  height:auto;
  max-width: 48%;
  float:left;
  object-fit: contain;
  margin-left: auto;
  border: 5px solid black;

}
#entry{
  height:auto;
  max-width: 48%;
  float: right;
  object-fit: contain;
  margin-right: auto;
  border: 5px solid black;
}
body{
  background-color: #82BF66;
  height: auto;
  margin-bottom: 100px;
  clear: both;
  overflow-y: scroll;

}
@media screen and (max-width:480px){
.desktopimgs{
display: none;
}
.footer{
  font-size: .8em;
}
}

@media screen and (min-width:480px) {
  h3{
    font-size: 3em;
  }

}
