*{border: 1px solid rgba(0,0,0,0.3)}
.header{
  display: block;
  font-family: Lobster, cursive, serif;
}
#imgborder{
  max-height: 50%;
  width:auto;
}
#direc{
  color: black;
  font-family: libre Baskerville, serif;
  font-size: 30px;
  height:auto;
  max-width:30%;
  float:left;
  object-fit: contain;
  margin-left: auto;


}

.pic_description{
  display: inline-block;

}

#picmap{
  height:auto;
  max-width: 48%;
  float:left;
  object-fit: contain;
  margin-left: auto;
  border: 5px solid black;

  }

  body{
    background-color: #82BF66;
    height: auto;
    margin-bottom: 100px;
    clear: both;
    overflow-y: scroll;
  }

  .footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    max-height: 100px;
    background-color: white;
    font-family: 'Libre Baskerville', serif;
  }
